@import "foundation_and_overrides";
@import "font-awesome";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */

#nav-avatar-container {
  height: 45px;
  width: 45px;
}

img.avatar {
  margin-top: 5px;
}

p.comment {
  margin: 0 20px;
}

.reviews {
  text-align: left;
}

.small, .upvote {
  margin: 0px;
}

.center {
  text-align: center;
}

div.hidden_review_form {
    display:none;
}

.comment-user {
  font-size: 0.8em;
  background-color: #F2E5B3;
}
